body{
    background-color:seashell;
    margin: 100px; /*100px*/
}
h1, h2{
    font-size: 45px;
    color:black;
    text-align: center;

}
h3{
    font-size: 30px;
    color:black;
    text-align: center;
    font-style: italic;
}
h4{
    font-size: 20px;
    color:black;
    text-align: left;
    margin-left: 100px;
}
a:link, a:visited {
    background-color: wheat;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
a:hover, a:active {
    background-color: wheat;
  }
a.educazione-civica{
    margin-left: 400px;
}
img.progetti{
    margin-left: 100px;
}
p, ol, span{
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
q{
    display: block;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
    text-align: center;
}
a.home {
    width: 5%;
    height: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}
